@charset "UTF-8";

header > menu{
    text-align: center;
    display: none;
}
header > menu > ul{
    list-style-type: none;
}
header > menu > ul > li > a{
    background-color: rgb(43, 43, 43);
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px red;
    font-weight: bold;
    padding: 5px;
    display: block;
}

#hamb{
    background-color: rgb(43, 43, 43);
    display: block;
    color: white;
    padding: 5px;
    text-align: center;
}
#hamb:hover{
    cursor: pointer;
    background-color: pink;
    color: black;
}